    <div class="example-label">Basic</div>
    <div class="example-button-row">
      <button mat-button style="background-color: aqua;">Basic</button>
      <button mat-button color="primary" class="test">Primary</button>
      <button mat-button color="accent">Accent</button>
      <button mat-button color="warn">Warn</button>
      <button mat-button disabled>Disabled</button>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>

<br>
<div>
    <table>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Gender
            </th>
            <th>
                Age
            </th>
            <th>
                E-mail
            </th>
            <th>
                Picture
            </th>
        </tr>
        <tr *ngFor="let person of people">
            <td>
                {{person.name.first}}
            </td>
            <td>
                {{person.name.last}}
            </td>
            <td>
                {{person.gender === 'male' ? 'Nam' : 'Nu'}}
            </td>
            <td align="right">
                {{person.dob.age}}
            </td>
            <td>
                {{person.email}}
            </td>
            <td>
                <img src="{{person.picture.thumbnail}}" 
                alt="{{person.name.first}} + ' ' + {{person.name.last}} "/>
            </td>
        </tr>
    </table>
</div>
 
    